<!doctype html>
<html lang="zh-CN">
<head>
    <!-- 必须的 meta 标签 -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta http-equiv="x-dns-prefetch-control" content="on">
        <meta name="referrer" content="always">
        <meta name="format-detection" content="telephone=no">
    </head>
</head>
<body>
<h2 style="text-align: center;padding-top: 30%;color: red"><?=htmlspecialchars($err_msg)?></h2>
</body>
</html>